*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background: url("../img/1299.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.train{
    position: relative;
    height: 100vh;
}

.trainCard{
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    background-color: rgb(30, 33, 218);
    padding: 20px;
    border-radius: 20px;
}

.trainCard p{
    color: white;
    font-size: 50px;
}


.train img{
    height: 500px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.train img:hover{
    
    filter: drop-shadow(2px 2px 0 rgb(51, 80, 247)) 
    drop-shadow(-2px -2px 0 rgb(51, 80, 247));
}

i{
    position: absolute;
    z-index: 2;
    font-size: 80px;
    color: white;
    bottom: 150px;
    left: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1); }
  }